#sidebar-container-id{
  	background-color:#333;
    color:#bebebe;
    width:250px;
    height:calc(100% - 80px);
    position:absolute;
    left:0;
    top:80px;
}

#sidebar-container-id .nav-links-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar-container-id .nav-links-list .nav-links{
	text-align:left;
    border-bottom: 1px solid rgba(102,102,102,.16);
    height:	60px;
}

#sidebar-container-id .nav-links-list .nav-links:hover{
    background-color: #262626;
    border-left: 3px solid #bebebe;
}

#sidebar-container-id .nav-links a{
    text-decoration:none;
    color:#bebebe;
    font-size: 24px;
    line-height:60px;
    padding-left:10px;
    display:inline-block;
    width:calc(100% - 10px);
    height:100%;
}