<div id="sidebar-container-id" class="sidebar-wrapper">
    <nav class="nav-wrapper"> 
        <ul class="nav-links-list">
            <li class="nav-links">               
                <a routerLink="/dashboard"><i class="fa fa-tachometer fa-fw" aria-hidden="true"></i>&nbsp; Dashboard</a>
            </li>
            <li class="nav-links">   
                <a routerLink="/articles"><i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>&nbsp; Articoli</a>
            </li>
        </ul>    
    </nav>
</div>